<h1>List of all the restaurants</h1>

<%= link_to "create new restaurant", new_restaurant_path%>


<ul class="list-unstyled mt-3">
  <% @restaurants.each do |restaurant| %>
  <div class="p-2 mb-4 restaurants-card">
    <h5><%= restaurant.name %></h5>
    <li><%= restaurant.address %></li>
    <li><%= restaurant.phone_number %></li>
    <li><%= restaurant.category %></li>
    <li><%= link_to 'Details', restaurant_path(restaurant)%> |
      <%= link_to 'Add a review', new_restaurant_review_path(restaurant)%>
    </li>
  </div>
  <% end %>


</ul>
